body {
  font-family: Helvetica;
}

.container {
  max-width: 720px;
  margin-top: 35px;
}

.header h3 {
  margin-top: 8px;
}


.footer {
  clear: both;
}


a {
    color: #5badf0;
}

a:hover {
  color: #4CA1E7;
}

#app {
  margin-bottom: 35px;
}

.clearFix {
  clear: both;
}


.legend {
  background-color: #fcf8e3;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #666;
}

.btn.btn-default {
  height: 200px;
}

.pad {
  margin: 50px 0;
}

.pad button {
  font-size: 80px;
}

.navbar h4 {
  font-size: 16px;
  padding-top: 5px;
}

.lost {
  color: #d9534f;
}

.won {
  color: #5cb85c;
}

button:focus {
  outline:0 !important;
}
